# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
/[Bb]uilds/
/[Ll]ibrary/
sysinfo.txt
*.stackdump
#/Assets/AssetStoreTools*
*.apk
*.unitypackage
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
*.pidb.meta
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
.consulo/
/*.tmp
/*.svd
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Corridor/Library/ShaderCache/n
Corridor/Library/metadata/

# ============ #
# Our Own ignore #
# ============ #
VersionInfo.cs
Assets/ImportedModels/Materials/space_frigate_6.obj.meta
Assets/ImportedModels/Materials/Materials.meta
Assets/ScriptableObjects/SecondaryDetails_REMOTE_7488.cs.meta
Assets/ScriptableObjects/SecondaryDetails_REMOTE_7488.cs
Assets/ScriptableObjects/SecondaryDetails_REMOTE_5292.cs.meta
Assets/ScriptableObjects/SecondaryDetails_REMOTE_5292.cs
Assets/ScriptableObjects/SecondaryDetails_LOCAL_7488.cs.meta
Assets/ScriptableObjects/SecondaryDetails_LOCAL_7488.cs
Assets/ScriptableObjects/SecondaryDetails_LOCAL_5292.cs.meta
Assets/ScriptableObjects/SecondaryDetails_LOCAL_5292.cs
Assets/ScriptableObjects/SecondaryDetails_BASE_7488.cs.meta
Assets/ScriptableObjects/SecondaryDetails_BASE_7488.cs
Assets/ScriptableObjects/SecondaryDetails_BASE_5292.cs.meta
Assets/ScriptableObjects/SecondaryDetails_BASE_5292.cs
Assets/ScriptableObjects/SecondaryDetails_BACKUP_7488.cs.meta
Assets/ScriptableObjects/SecondaryDetails_BACKUP_7488.cs
Assets/ScriptableObjects/SecondaryDetails_BACKUP_5292.cs.meta
Assets/ScriptableObjects/SecondaryDetails_BACKUP_5292.cs
Assets/Prefabs/Materials.meta
